page-login {
    

    @media screen and (min-width:641px) and (max-width:960px) and (orientation : portrait){ 
        .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
            height: 40px !important;
        }
        .margin-login{
            margin-top: 30% !important;
        }
    }
    
    @media screen and (min-width:481px) and (max-width: 640px) and (orientation : portrait){
        .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
            height: 30px !important;
        }

        .margin-login{
            margin-top: 30% !important;
        }
    }

    @media screen and (min-width:481px) and (max-width: 640px) and (orientation : landscape){
        .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
            height: 30px !important;
        }

        .margin-login{
            margin-top: 2% !important;
        }
    }
    
    @media screen and (min-width:320px) and (max-width: 480px) and (orientation : portrait){
        .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
            height: 20px !important;
        }

        .margin-login{
            margin-top: 30% !important;
        }
    }
}
