
    <ion-content class="auth-bg bg-login" no-bounce>
        <ion-grid>
            <ion-row>
              <ion-col col-12 style="margin-top: 10%;">
                  <div padding-horizontal text-center class="animated fadeInDown">
                    
                    <img src="file:///android_asset/www/assets/imgs/logo_new.png" style="width: 50%;">

                  </div>
              </ion-col>
              <ion-col col-12 style="border-color: rgb(189, 186, 184);">
                  <form class="list-form" style="padding:  18px;">
                      <ion-item>
                        <ion-label floating>
                          <ion-icon name="md-person" item-start class="text-primary"></ion-icon>
                          Username
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
                      </ion-item>
                      <ion-item style="padding-bottom: 20px;">
                        <ion-label floating>
                          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                          Password
                        </ion-label>
                        <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
                      </ion-item>
                    </form>
              </ion-col>
              <ion-col col-12>
                  <button ion-button icon-start block color="dark" tappable style="padding:  18px;" (click)="login()">
                      <ion-icon name="log-in"></ion-icon>
                      <p>Log in</p>
                  </button>
                  <p text-center style="color:#ffdb11"><button ion-button clear item-end style="color:#ffdb11">ลงทะเบียน</button>  |  <button ion-button clear item-end style="color:#ffdb11" (click)="change_password()">ลืมรหัส?</button></p>
              </ion-col>
            </ion-row>
          </ion-grid>

</ion-content>