
<ion-header>
    <ion-navbar style="background-color: rgba(255, 255, 255, 0) !important;">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
      </ion-title>
    </ion-navbar>
  </ion-header>
<ion-content class="auth-bg bg-all">
    <ion-grid>
        <ion-row>
            <ion-col col-12 text-center  (click)="profile()">
                <img src="assets/imgs/student.png" style="width: 25%;height: 80%;">
            </ion-col>
            <ion-col col-1>
            </ion-col>
            <ion-col col-10 (click)="profile()">
                <ion-item style="background-color: rgba(255, 255, 255, 0.75); border-color: rgba(255, 255, 255, 0.28); border-radius: 10px; font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;">
                    <ion-label>
                      <p text-center>ชื่อ นักเรียน นามสกุล เรียนดี</p>
                      <br>
                      <p text-center>GPA : 3.00</p>
                    </ion-label>
                  </ion-item>
            </ion-col>
            <ion-col col-1>
            </ion-col>

            <ion-col col-1>
                </ion-col>
            <ion-col col-10>
                    <img src="file:///android_asset/www/assets/imgs/schedule.jpg" style="width: 100%;height: 100%;">
            </ion-col>
            <ion-col col-1>
            </ion-col>

            <ion-col col-1>
            </ion-col>
            <ion-col col-5>
                    <button class="button-menu" (click)="news()">
                            <img src="file:///android_asset/www/assets/imgs/profile.png" style="width: 50%;height: 80%;">
                            <br>
                            <p style="color: rgb(255, 255, 255);"></p>
                    </button>
            </ion-col>
            <ion-col col-5>
                    <button class="button-menu" (click)="news()">
                            <img src="file:///android_asset/www/assets/imgs/profile.png" style="width: 50%;height: 80%;">
                            <br>
                            <p style="color: rgb(255, 255, 255);"></p>
                    </button>
            </ion-col>
            <ion-col col-1>
            </ion-col>


            <ion-col col-1>
                </ion-col>
            <ion-col col-10>
                    <button ion-button icon-start block color="dark" tappable style="padding:  18px;" (click)="vocabulary()">
                        <ion-icon name="md-copy"></ion-icon>
                        <p>ใบคำศัพท์</p>
                    </button>
            </ion-col>
            <ion-col col-1>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>