page-home {
    @media screen and (min-width:641px) and (max-width:960px) and (orientation : portrait){ 
        .marginimg{
            margin-top: 30% !important;
        }

        .img-pal{
            margin-top: 10% !important;
        }

        .button-register{
            margin-top: 30% !important;
        }

        .text-pal{
            margin-top: 5% !important;
        }
    }

    @media screen and (min-width:641px) and (max-width:960px) and (orientation : landscape){ 
        .marginimg{
            margin-top: 10% !important;
        }

        .img-pal{
            margin-top: 5% !important;
        }

        .button-register{
            margin-top: 10% !important;
        }

        .text-pal{
            margin-top: 1% !important;
        }
    }
    
    @media screen and (min-width:481px) and (max-width: 640px) and (orientation : portrait){

        .marginimg{
            margin-top: 35% !important;
        }

        .img-pal{
            margin-top: 10% !important;
        }

        .button-register{
            margin-top: 30% !important;
        }

        .text-pal{
            margin-top: 5% !important;
        }
    }

    @media screen and (min-width:481px) and (max-width: 640px) and (orientation : landscape){
        .marginimg{
            margin-top: 2% !important;
        }

        .img-pal{
            margin-top: 1% !important;
        }

        .button-register{
            margin-top: 1% !important;
        }

        .text-pal{
            margin-top: 0% !important;
        }
    }
    
    @media screen and (min-width:320px) and (max-width: 480px){
    
        .marginimg{
            margin-top: 15% !important;
        }

        .img-pal{
            margin-top: 10% !important;
        }

        .button-register{
            margin-top: 30% !important;
        }

        .text-pal{
            margin-top: 5% !important;
        }
    }
}
