<ion-content class="auth-bg bg-login" no-bounce>
    <ion-grid>
        <ion-row>
          <ion-col col-12 style="margin-top: 10%;">
              <div padding-horizontal text-center class="animated fadeInDown">
                <img src="file:///android_asset/www/assets/imgs/logo_new.png" style="width: 50%;">
              </div>
          </ion-col>
          <ion-col col-12 style="border-color: rgb(189, 186, 184);">
              <form class="list-form" style="padding:  18px;">
                  <ion-item style="margin-bottom: 2% !important">
                    <ion-label floating>
                      <ion-icon name="md-unlock" item-start class="text-primary"></ion-icon>
                        New Password
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="new_password" name="new_password"></ion-input>
                  </ion-item>
                </form>
          </ion-col>
          <ion-col col-12>
              <button ion-button icon-start block color="dark" tappable style="padding:  18px;" (click)="submit()">
                  <ion-icon name="md-checkmark-circle"></ion-icon>
                  <p>ยืนยัน</p>
              </button>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
