<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar class="user-profile">
      <ion-title></ion-title>
    </ion-toolbar>
    <img src="file:///android_asset/www/assets/imgs/11.jpg">
  </ion-header>

  <ion-content color="primary">
    <ion-list class="user-list">
      <button menuClose ion-item class="text-1x" *ngFor="let p of pages" (click)="openPage(p)">
          <span ion-text>{{p.title}} </span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>