<ion-header>
  <ion-navbar style="background-color: rgba(255, 255, 255, 0) !important;">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="auth-bg bg-all">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/imgs/student.png" style="width: 25%;height: 80%;">
      </ion-col>
      <ion-col col-12 text-center>
        <ion-item style="background-color: rgba(255, 255, 255, 0.75); border-color: rgba(255, 255, 255, 0.28); border-radius: 10px; font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;">
          <ion-label>
            <h1 text-center>ข่าวสาร</h1>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-12 text-center>
        <div [ngStyle]="{ 'height' : height,'width': width}">
          <ion-slides pager autoplay="5000" loop="true" speed="5000">
            <ion-slide>
              <img src="file:///android_asset/www/assets/imgs/slide1.jpg" [ngStyle]="{ 'height' : height,'width': width}" alt="">
            </ion-slide>
            <ion-slide>
              <img src="file:///android_asset/www/assets/imgs/slide2.jpg" [ngStyle]="{ 'height' : height,'width': width}" alt="">
            </ion-slide>
            <ion-slide>
              <img src="file:///android_asset/www/assets/imgs/slide3.jpg" [ngStyle]="{ 'height' : height,'width': width}" alt="">
            </ion-slide>
            <ion-slide>
              <img src="file:///android_asset/www/assets/imgs/slide4.jpg" [ngStyle]="{ 'height' : height,'width': width}" alt="">
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>

      <ion-col col-12>
        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="file:///android_asset/www/assets/imgs/11.jpg">
            </ion-thumbnail>
            <p>รายละเอียด</p>
          </ion-item>
          <ion-item style="margin-top: 1%;">
            <ion-thumbnail item-start>
              <img src="file:///android_asset/www/assets/imgs/11.jpg">
            </ion-thumbnail>
            <p>รายละเอียด</p>
          </ion-item>
          <ion-item style="margin-top: 1%;">
            <ion-thumbnail item-start>
              <img src="file:///android_asset/www/assets/imgs/11.jpg">
            </ion-thumbnail>
            <p>รายละเอียด</p>
          </ion-item>
          <ion-item style="margin-top: 1%;">
            <ion-thumbnail item-start>
              <img src="file:///android_asset/www/assets/imgs/11.jpg">
            </ion-thumbnail>
            <p>รายละเอียด</p>
          </ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>