<ion-header>
  <ion-navbar style="background-color: rgba(255, 255, 255, 0) !important;">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="auth-bg bg-all">
  <ion-grid>
    <ion-row>
      <ion-col col-12 text-center>
        <img src="assets/imgs/student.png" style="width: 25%;height: 80%;">
      </ion-col>
    </ion-row>
    <ion-col col-12 text-center>
      <ion-item style="background-color: rgba(255, 255, 255, 0.75); border-color: rgba(255, 255, 255, 0.28); border-radius: 10px; font-size: 14px; padding: 0px; border-width: 1px; border-style: solid; text-align: center; line-height: 20px; font-weight: normal; font-style: normal; opacity: 1;">
        <ion-label style="padding-top: 1% !important;">
          <h1 text-center>ใบคำศัพท์</h1>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col col-12 text-center>
      <ion-list style="border-radius: 10px;">
        <ion-item>
          <ion-label style="border-style: solid;border-width: 3px;color: rgb(255, 140, 9);border-radius: 10px;margin-right: 0 !important;">
            <br>
            <p style="color: rgb(209, 35, 58);margin-left: 5%;">define (v.) ให้ความหมาย</p>
            <p style="color: rgb(0, 0, 0);margin-left: 5%;">definition (n.) คำนิยาม</p>
            <p style="color: rgb(0, 0, 0);margin-left: 5%;">defin (n.) ผู้ให้ความหมาย</p>
            <br>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="border-style: solid;border-width: 3px;color: rgb(255, 140, 9);border-radius: 10px;margin-right: 0 !important;">
            <br>
            <p style="color: rgb(0, 0, 0);margin-left: 5%;">definite (adj.) ที่แน่นอน</p>
            <p style="color: rgb(209, 35, 58);margin-left: 5%;">definitely (adv.) อย่างแน่นอน</p>
            <p style="color: rgb(0, 0, 0);margin-left: 5%;">definiteness (n.) ความแน่นอน</p>
            <br>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="border-style: solid;border-width: 3px;color: rgb(255, 140, 9);border-radius: 10px;margin-right: 0 !important;">
            <br>
            <p style="color: rgb(209, 35, 58);margin-left: 5%;">adequacy (n.) ความพอเพียง</p>
            <p style="color: rgb(0, 0, 0);margin-left: 5%;">adequate (adj.) ที่เพียงพอ</p>
            <p style="color: rgb(0, 0, 0);margin-left: 5%;">adequately (adj.) ที่เพียงพอ</p>
            <br>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label style="border-style: solid;border-width: 3px;color: rgb(255, 140, 9);border-radius: 10px;margin-right: 0 !important;">
            <br>
            <p style="color: rgb(0, 0, 0);margin-left: 5%;">alcohol (n.) เหล้า,แอลกอฮอล์</p>
            <p style="color: rgb(209, 35, 58);margin-left: 5%;">alcoholic (adj.) ที่ติดเหล้า</p>
            <p style="color: rgb(0, 0, 0);margin-left: 5%;">alcoholicity (n.) ความเข้มข้นของแอลกอฮอล์</p>
            <br>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-grid>

</ion-content>